@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/Lato.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  src: url(fonts/LatoBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: normal;
  src: url(fonts/LatoItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'SourceCodePro';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/SourceCodePro-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'SourceCodePro';
  font-style: normal;
  font-weight: bold;
  src: url(fonts/SourceCodePro-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'SourceCodePro';
  font-style: italic;
  font-weight: normal;
  src: url(fonts/SourceCodePro-Italic.ttf) format('truetype');
}

code, kbd, pre, samp, var, pre.r:before {font-family: 'Lato', monospace;}
var { font-style: normal; }

/* padding for bootstrap navbar */
body {
  padding-top: 50px;
  padding-bottom: 40px;
}

/* navbar multi-colonne */

.dropdown-menu {
	min-width: 200px;
}
.dropdown-menu.columns-2 {
	min-width: 400px;
}
.dropdown-menu.columns-3 {
	min-width: 600px;
}
.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}
ul.multi-column-dropdown {
	list-style: none;
	padding-left: 0 !important;
}
li.dropdown-header {
  padding: 5px 15px;
  font-size: 14px;
  white-space: normal;
}
.multi-column-dropdown li a, .dropdown-menu li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #007F82;
	white-space: normal;
	font-size: 14px;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	/* color: #007F82;*/
	color: #262626;
	background-color: #f5f5f5;
}


.navbar-default {
    background-color:#007F82
 }

@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
	.multi-column-dropdown li a, .dropdown-menu li a {
	  color: white;
	  padding: 5px 15px 5px 25px;
	}
	.multi-column-dropdown li.dropdown-header {
	  border-top: #AAA 1px solid;
	  margin: 5px 25px;
	  padding: 5px 0 !important;
	}
	.row div:first-child .multi-column-dropdown li.dropdown-header {
    border-top:none;
	}
}

.dropdown-menu .active>a, .dropdown-menu .active>a:hover, .dropdown-menu .active>a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #007F82;

}

@media (min-width: 767px) {
  .dev a {background-color: #F7BF65;}
}

/* sidebar */
/* cf. http://www.codingeverything.com/2014/02/BootstrapDocsSideBar.html */

#nav_sidebar {
  margin-top: 40px;
  padding-left: 0;
  margin-bottom: 20px;
  position: fixed;
}

#nav_sidebar .nav>li>a {
  color: #999;
  padding: 4px 20px;
  font-size: 14px;
  font-weight: 400;
  border-left: 2px solid transparent;
}

#nav_sidebar .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 13px;
}

#nav_sidebar .nav>.active>a {
  color: #007F82;
}

#nav_sidebar .nav>.active>a,
#nav_sidebar .nav>li>a:hover,
#nav_sidebar .nav>li>a:focus {
  color: #007F82;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
  border-left: 2px solid #563d7c;
}

#nav_sidebar .nav ul.nav {
  display: none;
}

#nav_sidebar .nav>.active>ul.nav {
  display: block;
}

/* Table des matières page d'accueil  */

.list-group-item-header {
  color: #aea79f;
  font-size: 0.9em;
  letter-spacing: 1px;
}

/* offset scroll position for anchor links (for fixed navbar)  */
h2, h3, h4
{
  padding-top: 75px;
  margin-top: -45px;
}

/* don't use link color in navbar */
.dropdown-menu>li>a {
  color: black;
}

/* some padding for disqus */
#disqus_thread {
  margin-top: 45px;
}

/* Encabezados */

/*Espacio antes de encabezados */
h1 {
  font-size: 27.5px;
  margin: 12px 0 11px 0;
}

h1 img { width: 150px; }
@media (max-width: 767px) {
   h1 img { width: 100px; }
}

h2 {font-weight: bold;}

h3 {font-size: 24px; font-weight: bold}

h4 {font-size: 18px; font-weight: bold}

h1, .h1 {
    margin-top: 40px;
}

/* Alignement */

p {text-align: justify;}

/* Guillemets */

:lang(fr) q, q {
quotes: "\00AB\A0" "\A0\00BB" "\201C" "\201D" "\2018" "\2019";
}
:lang(en) q {
quotes: "\201C" "\201D" "\2018" "\2019";
}

/* Encadrés */

div.note {
  margin: 20px 0;
  padding: 10px;
  border: solid 1px #a1d0ef;
  background-color: #eef6fc;
}

div.important {
  margin: 20px 0;
  padding: 10px;
  border: solid 1px #f19fa2;
  background-color: #fdefed;
}

div.note:before, div.important:before {
  content: "importante";
  display: block;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 1.1em;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

div.note img, div.important img {
  max-width:95%;
  display: block;
  margin-left:auto;
  margin-right:auto;
}


/* Regrouper les pre contigus */

pre {
  border-top-left-radius: 4px;
 	border-top-right-radius: 4px;
	border-bottom-left-radius: 0;
 	border-bottom-right-radius: 0;
  margin-bottom: 0;
}

pre + pre,
pre + .zero-clipboard + pre {
	border-top: none;
	border-top-left-radius: 0;
 	border-top-right-radius: 0;
 	margin-top: 0;
}

pre.last {
	border-bottom-left-radius: 4px;
 	border-bottom-right-radius: 4px;
 	margin-bottom: 10.5px;
}

pre.last:not(.r) {
    background-color: white;
  }

/* Symbole R> dans les pre contenant du code R */
pre.r {padding-left: 2em;}
pre.r:before {
	content: "R>";
	color: #666;
	margin-left: -1.5em;
  width: 1.5em;
  display: inline-block;
}


/* Figures */

figure {
  border: solid 1px #CCC;
  border-radius: 4px;
  padding: 10px;
  margin: 0 0 10.5px 0;
}

figure img {
  display: block;
  max-width:30%;
  vertical-align:middle;
}

figcaption {
  font-style: italic;
  text-align: center;
  margin-top: 10.5 px;
}



/* Bouton copier */

.zero-clipboard {
  position: relative;
}

.btn-clipboard {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: 5px 8px;
  font-size: 12px;
  color: #767676;
  cursor: pointer;
  background-color: #f8fafa;
  border: 1px solid #CCCCCC;
  border-radius: 0 4px 0 4px;
}

.btn-clipboard:hover {
  color: #fff;  
  background-color: #007F82;
}

.clipboard {
  display: none;
}

/* Citation */

blockquote {
  margin-left: 50px;
  margin-right: 25px;
}

blockquote p {
  font-size: 16px;
  font-style: italic;
}

/* Words in other language */
span[lang] {font-style: italic;}

/* Concepts */

dfn {border-bottom: 1px dotted; font-style: normal;}
dfn[lang] {font-style: italic;}
#index_concepts dfn {border: none;}

/* Liens dans les tables */

table a, .table a {
  text-decoration: none !important;
}

/* Pagination (index) */

.pagination-sm>li>a, .pagination-sm>li>span {
  padding: 5px 6px;
  font-size: 12px;
}

/* Packages */

code.pkg {
  font-weight: bold;
  padding: 0;
  font-family: inherit;
  background: none;
  font-size: inherit;
}

/* Footer */

.main-container > footer {
  margin-top: 15px;
  padding-top: 10px;
  border-top: solid 2px rgba(0,39,59,.08);;
}

.main-container > footer li {float: left; margin-right: 20px;}
.main-container > footer li.pull-right {float: left; margin-right: 0;}
.main-container > footer p {font-size: 90%;}

/*Posicion icono bombilla - ejemplos
/* warning section */
.warning-section { display: flex;}
.warning-section img { float: left; height: 50px; width: 50px; }
.warning-section .warning-text { display: block; padding-top: .7em; }  

/* CSS COMUN A TODAS LAS TABLAS */
.tabla-basica {
  width: 100%;
  font-size: 12px;
}
.tabla-basica td, .tabla-basica th  { padding: .5em; text-align: left; border: #fff 1px solid;}
.tabla-basica tbody tr:nth-child(even) { background: #fff } /* filas pares */
.tabla-basica tbody tr:nth-child(odd) { background: #E8EDE9} /* filas impares */
.tabla-basica thead tr:nth-child(1) { background-color: #007179; color:#fff;} /* cabecera */
.tabla-basica td { vertical-align: top; }
.tabla-basica.responsive {
  overflow-y: auto;  /* vertical scroll when height is up 800px */
  max-height: 800px;
  display: block;
}
/* set vertical text*/
.tabla-basica .vertical { text-align: center; }
.tabla-basica .vertical span {
  writing-mode: vertical-lr;
  -ms-writing-mode: tb-rl;
  transform: rotate(180deg)
}
/* color a cell as the header*/
.tabla-basica td.green { background-color: #007179 !important; color:#fff; vertical-align: middle !important; }
.tabla-basica td.white { background-color: #fff !important;}


/* CSS ESPECIFICO PARA LA TABLA 1 */
.tabla-basica.tabla1 tr td:nth-child(1) { background-color: #007179; color:#fff; vertical-align: middle; }


/* CSS ESPECIFICO PARA LA TABLA 2 */
.tabla-basica.tabla2 { font-size: 11px;}
.tabla-basica.tabla2 thead tr { height: 180px}
.tabla-basica.tabla2 td { background: #E8EDE9; }
.tabla-basica.tabla2 tr th:nth-child(4),
.tabla-basica.tabla2 tr th:nth-child(5),
.tabla-basica.tabla2 tr th:nth-child(6),
.tabla-basica.tabla2 tr th:nth-child(7),
.tabla-basica.tabla2 tr th:nth-child(8),
.tabla-basica.tabla2 tr th:nth-child(9),
.tabla-basica.tabla2 tr th:nth-child(10),
.tabla-basica.tabla2 tr th:nth-child(11),
.tabla-basica.tabla2 tr th:nth-child(12) { font-size: 9px; }


/* CSS ESPECIFICO PARA LA TABLA 3 */
.tabla-basica.tabla3 tbody tr {background: #E8EDE9; }

/* CSS ESPECIFICO PARA LA TABLA 4 */
.tabla-basica.tabla4 td, .tabla-basica.tabla4 th { border-style: none }

